<footer>
<hr/>
  <div class="left">  
    &copy;{{ site.time | date:"%Y" }}.
    Imad Hsissou
  </div>

  <div class="right">
    {% unless site.git == "" %}
      <a href="{{site.git}}"><i class="fa fa-github-square fa-lg"></i></a>
    </a>
    {% endunless %}
    
    {% unless site.stackoverflow == "" %}
      <a href="{{site.stackoverflow}}"><i class="fa fa-linkedin-square fa-lg"></i></a>
    </a>
    {% endunless %}
    
    {% unless site.facebook == "" %}
      <a href="{{site.facebook}}"><i class="fa fa-facebook-square fa-lg"></i></a>
    </a>
    {% endunless %}
    
    {% unless site.twitter == "" %}
      <a href="{{site.twitter}}"><i class="fa fa-twitter-square fa-lg"></i></a>
    </a>
    {% endunless %}
  </div>
</footer>
