<div id="title">
  <h1>
    <a id="sitename" >Projects</a>
  </h1>
  
  <!-- Add something about you in p tag-->
  <p>this section is dedicated to describe some OpenSource projects I've been working on.</p>
  <p>feel free to contribute.</p>
  
  <h1>
    {% unless site.git == "" %}
		  <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>	
    {% endunless %}

    {% unless site.stackoverflow == "" %}
      <a id="so-ic" href="{{site.stackoverflow}}"><i class="fa fa-linkedin"></i></a>
    {% endunless %}
  </h1>
  
  <hr/>
  {% include nav-links.html %} 
	 
</div>
