<div id="title">
  <h1>
    <a id="sitename" >Blog</a>
  </h1>
  
  <p>Thank you for stopping by.</p>
  <p><blockquote>"Somewhere, something incredible is waiting to be known."</blockquote>- Carl Sagan</p>
  
  <h1>
    {% unless site.git == "" %}
		  <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>	
    {% endunless %}

    {% unless site.stackoverflow == "" %}
      <a id="so-ic" href="{{site.stackoverflow}}"><i class="fa fa-linkedin"></i></a>
    {% endunless %}
  </h1>
  
  <hr/>
  {% include nav-links.html %} 
	 
</div>
